body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
        margin: 10px auto;
    color: oldlace;
    font-size: 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-radius: 5px;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.logbtn{	
	color: black;
	padding: 7px;
    font-size: 14px;
	font-weight: 600;
	width: 44%;
	margin: 15px 0;
    border-radius: 5px;
    box-shadow: inset 0 0px 0 #999999, inset -1px -2px 0 #999999;
    background: linear-gradient(#395263, #c9d2e0fc);
}










